$hover-gray: #e6e6e6;
$text-gray: gray;
$text-blue: rgb(31, 73, 112);

@mixin flexCenterJustify($direction) {
    display: flex;
    justify-content: center;
    flex-direction: $direction;
}

@mixin flexCenterAlign($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}

@mixin contain {
    max-width: 1500px;
    margin: 0 auto;
}

#header {
    #sticky-banner {
        @include flexCenterJustify(column);

        background-color: black;
        color: white;
        height: 180px;
        padding-left: 30px;

        @media (max-width: 425px) {
            padding-left: 15px;
            height: 230px;
        }

        .container {
            @include contain();
            padding: 0 5px;

            @media (max-width: 1440px) {
                margin: 0;
            }

            h3 {
                font-size: 2rem;
                margin-bottom: 25px;

                @media (max-width: 425px) {
                    font-size: 1.7rem;
                    margin-bottom: 20px;
                }
            }
    
            h4 {
                font-size: 1.05rem;
                line-height: 1.3rem;
    
                strong {
                    font-weight: bold;
                }
            }
        }
    }

    #gradient-border-divider {
        height: 5px;
        background-image: linear-gradient(to right, pink, purple, rgb(55, 114, 182), 
        #bbb, #eee, #666, rgb(74, 53, 192));
    }

    #header-content {
        #nav-container {
            background-color: #eee;

            #nav {
                @include contain();
                display: flex;
                justify-content: space-between;

                @media (max-width: 768px) {
                    flex-direction: column;
                }

                #logo-container {
                    height: 6rem;
                    margin: 10px 0 80px 25px;

                    @media (max-width: 768px) {
                        margin-bottom: 0px;
                    }

                    @media (max-width: 650px) {
                        height: 4rem;
                    }

                    @media (max-width: 425px) {
                        margin-left: 10px;
                    }
    
                    a {
                        #logo {
                            height: 6rem;
                            margin: 5px;

                            @media (max-width: 650px) {
                                height: 3.5rem;
                            }
    
                            &:hover {
                                background-color: $hover-gray;
                            }
                        }
                    }
                }

                #nav-bar {
                    width: 60%;
                    
                    #nav-bar-list {
                        margin-top: 50px;
                        display: flex;
                        justify-content: space-evenly;
                        font-weight: bold;

                        @media (max-width: 768px) {
                            flex-direction: column;
                            margin-top: 30px;
                            margin-left: 50px;
                        }

                        @media (max-width: 650px) {
                            margin-left: 15px;
                        }

                        @media (max-width: 425px) {
                            margin-left: 0;
                        }

                        li {

                            @media (max-width: 768px) {
                                margin-bottom: 30px;
                            }

                            a {
                                text-decoration: none;
                                color: rgb(16, 55, 100);
                                font-size: 1.05rem;
                                padding: 1rem;
                                // font-weight: bold;

                                &:hover {
                                    background-color: $hover-gray;
                                }
                            }
                        }
                    }
                }
            }

            #header-title {
                font-size: 4.5rem;
                padding-bottom: 1rem;
                color: gray;
                font-weight: lighter;
                display: flex;
                justify-content: center;

                @media (max-width: 768px) {
                    font-size: 2rem;
                }

                @media (max-width: 650px) {
                    font-size: 1.5rem;
                }
            }
        }

        #main-banner {
            #prime-info {
                @include flexCenterJustify(row);
                @include contain();
                justify-content: space-between;
                align-items: center;
                width: 100%;

                @media (max-width: 768px) {
                    flex-direction: column;
                }

                h2 {
                    font-size: 1.8rem;
                    color: $text-blue;
                    font-weight: lighter;
                    width: 46%;
                    margin-left: 25px;
                    line-height: 3rem;
                    
                    @media (max-width: 768px) {
                        width: 90%;
                        margin: 0 auto;
                    }

                    @media (max-width: 650px) {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        margin-top: 20px;
                    }
                }

                #main-banner-img-container {
                    width: 46%;
                    height: 200px;
                    margin-right: 20px;
                    margin-top: 20px;
                                        
                    @media (max-width: 768px) {
                        width: 100%;
                        margin-right: 0;
                        height: 250px;
                    }

                    @media (max-width: 650px) {
                        height: 200px;
                        width: 90%;
                    }

                    @media (max-width: 425px) {
                        margin-top: 10px;
                        height: 140px;
                    }

                    @media (max-width: 320px) {
                        height: 100px;
                        margin-top: 30px;
                    }
                }

                #main-banner-img {
                    background-image: url('../img/glasses.svg');
                    background-position: top;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 100%;
                    height: 100%;

                    @media (max-width: 650px) {
                        background-position: center;
                    }
                }
            }

            #additional-info {
                @include contain();
                @include flexCenterJustify(row);
                background-color: rgb(191, 64, 128);
                color: white;
                padding-top: 20px;
                padding-bottom: 30px;
                font-size: 1.01rem;
                margin-top: 15px;
                max-width: 100%;
           
                @media (max-width: 768px) {
                    text-align: center;
                    flex-direction: column;
                    padding-bottom: 20px;
                }

                h4 {
                    @media (max-width: 768px) {
                        margin-bottom: 4px;
                    }
                }

                ul {
                    @include flexCenterJustify(row);
                    margin: 0 15px;
    
                    li {
                        margin: 0 2px;
          
                        @media (max-width: 768px) {
                            margin: 4px 2px;
                        }
                    }
                }
    
                a {
                    color: white;
                    font-weight: bold;
                }
    
                #implementation-link {
                    margin: 0 2px;
                }
            }
        }
    }
}